
body{
    
    margin: 0;
    background-color: black;
    color: #fff;
    display: flex;
}
.sidebar{
    position: fixed;
    width: 30%;
    height: 100vh;
    background: url('../img/pages/Fondo.jpg') bottom center no-repeat;
}
.contentRight{
    padding: 10px;
    width: 100%;
}
.mainContent{
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}

.sidebarContent{
    height: 100vh;
    margin: 0 auto 0;
    width: 90%;
    background: rgba(29, 27, 27, 0.5);
}

.content{
    width: 90%;
    margin: auto;
    padding: 20% 0 0;
}


.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #929796;
    background-color: #333;
    border-radius: 5px;
    &:nth-child(odd) {
        background-color: #424242;
    }
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
}

fotoItem{
    max-width: 100%;
}